<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Portfolio</title>
    <link rel="icon" href="/images/footer/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/profile.css">
    <script src="/js/script.js"></script>
    <script src="/js/profile.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="header__section">
        <a th:href="@{/mainpage}"><img src="/images/header/logo.png" alt="logo" class="header__logo"></a>
        <a th:href="@{/1/allTeams}" class="header__item specialists">Специалистам</a>
        <a th:href="@{/0/allUsers}" class="header__item teams">Командам</a>
        <a href="#" class="header__item search" id="search__js" onclick="openSearch()">Поиск</a>
        <a href="#" class="header__item feedbacks">Мои отклики</a>
    </div>
    <div class="header__section">
        <div class="bell"><a th:href="@{/{team}(team=${person.getTeam()})}"><img src="/images/header/bell.svg" alt="bell"></a></div>
        <div class="profile__avatar">
            <!--аватар пользователя получать с бд-->
            <img src="/images/header/none_avatar.svg" alt="profile" onclick="openProfile()">
        </div>
        <div id="login__window">
            <div class="login__window__box">
                <a th:href="@{/auth/login}" class="profile__button login__button txt">Войти</a>
                <a th:href="@{/auth/registration}" class="profile__button register__button txt">Зарегистрироваться</a>
            </div>
        </div>
    </div>
    <div id="search__box">
        <input class="search-txt" type="search" placeholder="Введите профессию">
        <div class="search-bg"><img src="/images/header/search-bg.png" alt="search"></div>
        <a href="#">
            <!--при нажатии на bell или "enter" выполняется поиск-->
            <div class="magnifier-1"><img src="/images/header/magnifier-1.svg" alt="magnifier-1"></div>
            <div class="magnifier-2"><img src="/images/header/magnifier-2.svg" alt="magnifier-2"></div>
        </a>
    </div>
    <div id="notifications">
        <div class="notifications__box">
            <!--получать уведомления с бд-->
        </div>
    </div>
</div>
<div id="window__avatar__input">
    <input type="file" class="file__input" id="file__input_id1">
    <label for="file__input_id1" id="file__label1">
        <span class="txt9 avatar__input">Прикрепите файл</span>
        <img src="/images/main/file__input.svg" alt="file__input" class="img__file__input1"> <!--тут пользователь выгружает файл с аваркой
            не нужно где-то ему показывать, что файл сохранён, сразу заменять аватарку на файл, который он выгрузил и заменять его в бд, class у аватарки -
            profile__avatar__main-->
    </label>
    <span class="txt9 close" onclick="changeAvatar()">X</span>
</div>
<div id="window__cover__input">
    <input type="file" class="file__input" id="file__input_id1">
    <label for="file__input_id1" id="file__label1">
        <span class="txt9 avatar__input">Прикрепите файл</span>
        <img src="/images/main/file__input.svg" alt="file__input" class="img__file__input1"> <!--тут пользователь выгружает обложку портфолио,
            изменить img с id portfolio__logo и выгрузить его в бд-->
    </label>
    <span class="txt9 close" onclick="changeCover()">X</span>
</div>
<div class="main">
    <div class="left__links">
        <img th:src="${'/images/face/' + person.getFaceFileName()}" alt="avatar" class="profile__avatar__main"><!--Аватар пользователя-->
        <a href="#" class="change__avatar" onclick="changeAvatar()">
            <form th:method="POST" th:object="${person}" th:action="@{/0/face}" enctype="multipart/form-data">
            <span class="text__edit txt">
                <input  type="file" name="faceImage" id="faceImage">
                <br>
                <br>
                <button type="submit" class="but__OK txt">ОК</button>
            </span>
            </form>
        </a>
        <h1 th:text="${person.getSplitName().get(0) + ' ' + person.getSplitName().get(1)}" class="user__name txt5">
            Имя пользователя</h1>
        <ul class="profile__links txt">
            <li><button class="profile__buttons txt">Профиль</button></li>
            <li><button class="profile__buttons txt">Уведомления</button></li>
            <li><button class="profile__buttons txt">Настройки</button></li>
            <li><a href="/logout" class="profile__buttons txt"> Выйти</a></li>
        </ul>
    </div>
    <div id="profile">
        <h1 class="txt8 personal__data">Личные данные</h1>
        <div class="personal__data">
            <form th:object="${person}" th:method="POST" th:action="@{/0/update}">
                <span class="fio txt">ФИО</span>
                <input th:field="*{username}" type="text" placeholder="Введите фио" class="fio__input txt">
                <span class="psw txt">Пароль</span>
                <input th:field="*{password}" type="password" id="password__input" placeholder="Введите пароль" name="password" class="txt">
                <a href="#" class="password__control txt" onclick="return show_hide_password();">Показать пароль</a>
                <span class="email txt">E-mail</span>
                <input th:field="*{email}" type="text" placeholder="Введите почту" class="email__input txt">
            <div class="buttons__pd">
                <button class="but__cancel txt">Отмена</button>
                <button type="submit" class="but__OK txt">ОК</button>
            </div>
            </form>
        </div>
        <div class="questionnaire">
            <span class="txt8">Анкета</span>
            <form th:method="POST" th:object="${questionnaire}" th:action="@{/questionnaire}">
                <span class="txt field__know">Область знаний:</span>
                <select th:field="*{infoAboutProfession}" name="field__knowledge" class="txt field__knowledge">
                    <option value="0" disabled selected hidden>Выберите вашу профессию...</option>
                    <option value="Разработчик сайта" class="txt4 select__choice">Разработчик сайта</option>
                    <option value="Дизайнер" class="txt4 select__choice">Дизайнер</option>
                    <option value="Программист" class="txt4 select__choice">Программист</option>
                    <option value="Разработчик игр" class="txt4 select__choice">Разработчик игр</option>
                    <option value="Специалист по 3D Графике" class="txt4 select__choice">Специалист по 3D Графике</option>
                    <option value="Разработчик моб. приложений" class="txt4 select__choice">Разработчик моб. приложений</option>
                </select>
                <span class="txt projects">Самые сложные проекты, над которыми я работал:</span>
                <input th:field="*{infoAboutProjects}" type="text" class="txt projects_input" placeholder="Расскажите самые сложные проекты...">
                <span class="txt distant__work">Мой опыт работы удаленно и трудности при работе таким путем:</span>
                <input th:field="*{infoAboutWorkAtHome}" type="text" class="txt distant__input" placeholder="Укажите опыт удаленной работы...">
                <span class="txt goals">Мои долгосрочные карьерные цели:</span>
                <input th:field="*{infoAboutGoals}" type="text" class="txt goals__input" placeholder="Введите ответ...">
                <span class="txt years">Лет опыта:</span>
                <input th:field="*{infoAboutExperience}" type="text" class="txt years__input" placeholder="Укажите опыт...">
                <span class="txt weaknesses">Сильные и слабые стороны в моей профессии:</span>
                <input th:field="*{infoAboutStrongAndWeak}" type="text" class="txt weaknesses_input" placeholder="Введите ответ...">
                <span  class="txt latest_tech">Как я остаюсь в курсе последних тенденций и технологий в моей области:</span>
                <input th:field="*{infoAboutGettingInformation}" type="text" class="txt tech_input" placeholder="Введите ответ...">
                <span class="txt additionally">Дополнительно:</span>
                <input th:field="*{additionalInfo}" type="text" class="txt additionally_input" placeholder="Введите ответ...">
            <div class="buttons__quest">
                <button class="but__cancel txt">Отмена</button>
                <button class="but__OK txt">ОК</button>
            </div>
            </form>
        </div>
        <div class="portfolio__quest">
            <span class="txt8">Портфолио</span>
            <form th:method="POST" th:object="${portfolio}" th:action="@{/portfolio}" enctype="multipart/form-data">
                <span class="txt portfolio__name">Название портфолио</span>
                <input th:field="*{portfolioName}" type="text" class="txt" id="portfolio__input__name" placeholder="Мое портфолио">
                <span  class="txt file">Прикрепите файл:</span>
                <label for="file__input_id" id="file__label">
                    <span class="txt9 label__txt">Добавьте сюда портфолио</span>
                    <img src="/images/main/file__input.svg" alt="file__input" class="img__file__input">
                    <input  type="file" name="dataFile"  id="file__input_id">
                </label>
                <span class="txt" id="portfolio__link">Укажите ссылку на ваше портфолио:</span>
                <input th:field="*{url}" type="text" class="txt portfolio__input__link" placeholder="Введите URL-адрес...">
                <img th:src="${'/images/logo/' + portfolio.getFileName()}" alt="portfolio logo" id="portfolio__logo">
                <div class="edit__cover">
                    <img src="/images/main/edit.svg" alt="edit" class="edit__portfolio__logo">
                    <span class="text__edit__logo txt" onclick="changeCover()">
                        <input  type="file" name="imageFile" id="imageFile">
                    </span>
                </div>
            <div class="buttons__pq">
                <button class="but__cancel txt">Отмена</button>
                <button type="submit" class="but__OK txt">ОК</button>
            </div>
            </form>
        </div>
    </div>
    <div class="notifications__main">

    </div>
    <div class="settings">

    </div>
</div>
<div class="footer" style="top: 2113px;">
    <div class="txt email__text">Подпишитесь на нашу рассылку, чтобы получать актуальную информацию по Вашим запросам.</div>
    <div class="email__container">
        <div class="txt email__headline">Эл. почта:</div>
        <input class="txt email__example" type="text" placeholder="ivanov.ivan@pochta.ru">
        <button class="txt" id="confirmation">OK</button>
        <!--отправлять почту в бд-->
    </div>
    <div class="footer__bottom">
        <a th:href="@{/mainpage}"><img src="/images/footer/logo.png" alt="footer_logo" class="footer__logo"></a>
        <a href="#"><img src="/images/footer/telegram.svg" alt="telegram" class="telegram__logo"></a>
        <a href="#"><img src="/images/footer/vk.svg" alt="vk" class="vk__logo"></a>
        <a href="mailto:zef1rflis@yandex.ru" class="txt footer__creator-mail">zef1rflis@yandex.ru</a>
    </div>
</div>
</body>
</html>